# Verified apps

## What does the checkmark under an app name mean?

Some apps have a checkmark on the app page under the developer name. This means the app is published on Flathub by its original developer or a third party approved by the developer.

Some apps are published by third parties that are unaffiliated with the original developer. This is allowed, but such apps are not eligible for the checkmark.

Next to the checkmark is a link to the developer's website or to their profile on a source code hosting site. Flathub has verified the developer's identity using that link.
